.horsePageContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  min-height: calc(100dvh - 5rem);
}

.arc {
  position: relative;
  display: grid;
  grid-template-rows: 5fr 1.4rem auto;
  background-color: rgb(var(--grass-green));
  border-top-left-radius: 20000000000000000000000000000px;
  border-top-right-radius: 20000000000000000000000000000px;
  padding: 1.5rem;
  scale: 0.9;
  gap: 0.5rem;
  max-width: calc(95vw);
  overflow-x: hidden;
}

.genderContainer {
  z-index: 2000;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(var(--light-foreground));
  align-items: center;
  justify-content: center;
}

.horseImage {
  width: auto;
  max-width: 90%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  scale: 1.2;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.horseNameContainer {
  position: relative;
  width: 100%;

  background-color: rgb(var(--light-foreground));
  color: rgb(var(--corporate-blue));
  display: flex;
  align-items: center;
}

.horseName {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-44%);
  white-space: nowrap;
  align-items: center;

  text-overflow: ellipsis;
  width: 100%;
}

.dataGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 20px;
  background-color: rgb(var(--neutral-earth));
  padding: 1rem;
  width: 100%;
  overflow: visible;
}

.dataColumn {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.parentsColumn {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.grandparentsColumn {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.grandparentGroup {
  display: flex;
  flex-direction: column;
}

.divider {
  width: 90%;
  align-self: center;
  background-color: rgb(var(--light-foreground));
}

.horseRedirect {
  color: rgb(var(--light-foreground));
  position: absolute;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  font-size: 0.7rem;
  bottom: 0.3rem;
}

/* Mobile styles */
@media (max-width: 750px) {
  .horseImage {
    transform: translateY(-0.7rem);
  }
  .fixSmPadding {
    padding: 1rem !important;
  }

  .horseRedirect {
    bottom: 0.15rem !important;
  }

  .arc h1 {
    font-size: 0.7rem !important;
  }

  .arc h2 {
    font-size: 0.7rem !important;
  }

  .arc a {
    font-size: 0.5rem !important;
  }

  .dataGrid {
    font-size: 0.8rem !important;
  }
}

/* Desktop styles */
@media (min-width: 750px) {
  .horseNameContainer {
    min-height: calc(3vw / 0.85) !important;
  }

  .arc {
    width: 70% !important;
    padding: calc(4vw / 0.85) !important;
    gap: calc(0.5vw / 0.85) !important;
    grid-template-rows: 3.5fr 0.3fr auto !important;
    aspect-ratio: unset !important;
  }
  .genderContainer {
    top: calc(3vw / 0.85) !important;
  }
  .gender {
    font-size: calc(1.4vw / 0.85) !important;
  }

  .horseImage {
    height: calc(25vw / 0.85) !important;
    margin-bottom: calc(4vw / 0.85) !important;
    margin-top: calc(4vw / 0.85) !important;
  }

  .horsePageContent {
    justify-content: flex-start !important;
    overflow: scroll !important;
  }

  .horseRedirect {
    font-size: calc(1vw / 0.85) !important;
    bottom: calc(1.5vw / 0.85) !important;
  }

  .horseName {
    font-size: calc(1.5vw / 0.85) !important;
  }

  .dataGrid {
    padding: calc(2vw / 0.85) !important;
  }
}
