.heroContainer {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.logoContainer {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.contentContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.imageContainer {
  position: relative;
  height: 85%;
  aspect-ratio: 1/1.6;
  border-top-left-radius: 5000000000rem;
  border-top-right-radius: 5000000000rem;
  max-width: 88%;
  overflow: hidden;
}

.styledImage {
  object-fit: cover;
  border-top-left-radius: 5000000000rem;
  border-top-right-radius: 5000000000rem;
}

.heroTitle {
  position: absolute;
  font-weight: lighter;
  left: 50%;
  bottom: 27%;
  z-index: 1;
  /* imgzoom = vh/2500, so imgzoom * 9 * 16 = 5.76vh */
  font-size: 5.76vh;
  letter-spacing: 1.664vh;
  color: rgb(var(--light-foreground));
}

.heroDescription {
  font-weight: bold;
  position: absolute;
  top: 73%;
  z-index: 1;
  color: rgb(var(--neutral-earth));
  font-size: 2.68vh;
  width: 44vh;
  left: calc(50% + 26.4vh);
}

@media (max-width: 1100px) {
  .heroTitle {
    left: 50%;
    transform: translate(-49%, 60%);
    text-align: center;
  }

  .heroDescription {
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
  }
}

@media (max-width: 800px) {
  .heroTitle {
    font-size: 2rem;
    transform: translate(-49%, 0%);
    text-align: center;
  }

  .heroDescription {
    transform: translate(-49%, 0%);
    text-align: center;
  }
}

@media (max-width: 500px) {
  .heroTitle {
    font-size: 1.5rem;
    transform: translate(-49%, -20%);
    text-align: center;
  }

  .heroDescription {
    font-size: 0.9rem !important;
    transform: translate(-49%, -30%) !important;
    text-align: center !important;
    max-width: 80vw !important;
    top: 75% !important;
  }
}
