.notificationButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 50;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 0.2rem;
  cursor: pointer;
  border: none;
  background: rgba(255, 255, 255, 0.479);
  box-shadow: 0 4px 6px rgb(0, 0, 0);
}
.notificationButton:hover {
  background: rgba(67, 255, 92, 0.589);
}

.notificationIcon {
  position: relative;
}

.notificationBadge {
  position: absolute;
  top: 0.6rem;
  right: 0.1rem;
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  background-color: #ef4444;
  color: white;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding-top: 2px;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modalContent {
  position: relative;
  background-color: white;
  padding: 2rem;
  max-width: 28rem;
  width: 100%;
  margin: 0 1rem;
}

.closeButton {
  position: absolute;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2rem;
  right: 2rem;
  color: rgb(var(--warning));
  border: 2px solid white;
  background-color: white;
}

.closeButton:hover {
  transition: ease-in-out 0.14s;
  border: 2px solid rgb(var(--warning));
  color: rgb(var(--warning));
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: rgb(var(--corporate-blue));
}

.modalDescription {
  margin-bottom: 1.5rem;
}

.emailInput {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  font-size: 16px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.unsubscribeButton {
  padding: 0.5rem 1rem;
  background-color: rgb(var(--neutral-earth));
  color: white;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.unsubscribeButton:hover {
  background-color: #dc2626;
}

.submitButton {
  padding: 0.5rem 1rem;
  background-color: rgb(var(--grass-green));
  color: white;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: rgb(var(--corporate-blue));
}
