.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100dvh;
  background: rgb(var(--grass-green));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 60;
}