.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100dvh;
  background: rgb(var(--grass-green));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: max(0.25rem, env(safe-area-inset-top));
  left: max(0.25rem, env(safe-area-inset-left));
  z-index: 60;
}

@media (max-width: 500px) {
  .logo :global(svg) {
    width: 100px !important;
    height: 100px !important;
  }
}

@media (max-width: 380px) {
  .logo :global(svg) {
    width: 84px !important;
    height: 84px !important;
  }
}