:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --grass-green: 16 80 79; /* #10504F */
  --corporate-blue: 0 106 114; /* #006A72 */
  --cool-blue-grey: 106 138 133; /* #6A8A85 */
  --light-cool-blue-grey: 146 178 173; /* #92B2AD */
  --terracota-earth: 161 95 73; /* #A15F49 */
  --neutral-earth: 205 169 136; /* #CDA988 */
  --cloudy-mist: 227 221 210; /* #E3DDD2 */
  --night-grey: 43 46 50; /* #2B2E32 */
  --light-foreground: 253 253 253; /* #FDFDFD */
  --dark-foreground: 20 20 20; /* #141414 */

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: var(--grass-green);
  --background-end-rgb: var(--night-grey);

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    rgba(var(--grass-green), 0.2) 0deg,
    rgba(var(--corporate-blue), 0.2) 55deg,
    rgba(var(--cool-blue-grey), 0.2) 120deg,
    rgba(var(--terracota-earth), 0.2) 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(var(--light-foreground), 1),
    rgba(var(--light-foreground), 0)
  );

  --tile-start-rgb: var(--cloudy-mist);
  --tile-end-rgb: var(--neutral-earth);
  --tile-border: conic-gradient(
    rgba(var(--dark-foreground), 0.5),
    rgba(var(--dark-foreground), 0.25),
    rgba(var(--dark-foreground), 0.1875),
    rgba(var(--dark-foreground), 0.125),
    rgba(var(--dark-foreground), 0.0625),
    rgba(var(--dark-foreground), 0.0625),
    rgba(var(--dark-foreground), 0.5)
  );

  --callout-rgb: var(--cloudy-mist);
  --callout-border-rgb: var(--cool-blue-grey);
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--grass-green));
}

main {
  padding-top: 5rem; /* Pour compenser la hauteur de la navbar fixe */
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-shadow: currentColor 0 0 1px;
    color: rgb(var(--light-foreground));
  }
  cursor: pointer;
}

button {
  font: inherit;
  color: inherit;
  text-decoration: none;
  &:hover {
    text-shadow: currentColor 0 0 1px;
    color: rgb(var(--light-foreground));
  }
}

input[type="radio"]:checked::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.83rem;
  height: 0.83rem;
  border-radius: 50%;
  background-color: rgba(
    205,
    169,
    136
  ); /* Changez cette couleur selon vos besoins */
  position: relative;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spin 1s linear infinite;
}

/* Cacher la scrollbar pour les navigateurs Webkit (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Cacher la scrollbar pour les navigateurs Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.card:hover {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.light-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(
    var(--cool-blue-grey),
    0.5
  ); /* Couleur de l'indicateur */
  border-radius: 10px; /* Arrondir les coins de l'indicateur */
  border: 3px solid rgba(var(--light-foreground), 0.5); /* Ajouter une bordure autour de l'indicateur */
}

/* Styliser l'indicateur mobile de la scrollbar pour Firefox */
.light-scrollbar {
  scrollbar-color: rgba(var(--cool-blue-grey), 0.5)
    rgba(var(--light-foreground), 0.5); /* Couleur de l'indicateur et de la piste */
}
