.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  -ms-scroll-limit: 0 0;
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.hiddenTitle {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.logo {
  position: absolute;
  top: max(0.25rem, env(safe-area-inset-top));
  left: max(0.25rem, env(safe-area-inset-left));
  z-index: 1;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: env(safe-area-inset-bottom);
}

@media (max-width: 500px) {
  .logo :global(svg) {
    width: 100px !important;
    height: 100px !important;
  }
}

@media (max-width: 380px) {
  .logo :global(svg) {
    width: 84px !important;
    height: 84px !important;
  }
}